body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', 'sans-serif';
    background-color: #F4F4F4;
}

#container {
    background-color: #6943FF;
    padding: 40px;
    margin-top: -25px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-weight: 800;
}

#input {
    height: 80px;
    width: 120px;
    background-color: #6943FF;
    border: #B295FF solid 2px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 800px;
    text-align: center;
    font-size: 60px;
    font-family: 'Inter', 'sans-serif';
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#convert-btn {
    display: block;
    height: 40px;
    width: 130px;
    padding: 10px;
    color: #3d3d3d;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
}

#convert-btn:hover {
    background-color: #6943FF;
    color: #ffffff;
    border: #B295FF solid 2px;
}

h3 {
    color: #5A537B;
    font-weight: 600;
}

#output-display {
    background-color: #ffffff;
    margin: 30px;
    padding: 10px;
    height: 100px;
}

#length-output {
    font-weight: 400;
    font-size: 14px;
}

#volume-output {
    font-weight: 400;
    font-size: 14px;
}

#mass-output {
    font-weight: 400;
    font-size: 14px;
}